.section--spesial {
    margin-top: 1px;
}


.section__header--special {
    margin-bottom: 1px;
    background-color: #001378;
}

.header__inner {
    max-width:  1156px;
    margin: 0px auto;
    text-align: left;
    padding: 10px 20px;
}

.header__inner--special {
    border-bottom: 1px lightgray solid;
    margin-bottom: 10px;
}

.section__suptitle {
    font-size: 16px;
    color: lightgray;
}

.section__title {
    font-size: 26px;
    color: #fff;
}


/*accordion*/
.accordion {
    background-color: #e4e4e4;
    align-items: center;
    padding: 10px 0 20px;
}

.accordion__item {
    max-width: 1156px;
    margin: 0 auto 10px;
    padding: 20px;

    border: 1px solid #999
}

.accordion__item.active
.accordion__content {
    display: block;
}

.accordion__item.active
.accordion__header {
    border-bottom-color: #e5e5e5;
}

.accordion__item.active
.accordion__header::after {
    transform: translateY(-50%) rotate(-45deg);
    margin-top: 5px;
}

.accordion__header { 
    padding: 10px auto 40px;
    position: relative;

    border-bottom: 1px lightgray solid;
    cursor: pointer;
}


/*псевдоэлемент стрелка*/
.accordion__header::after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;

    border-top: 2px solid #ccc;
    border-right: 2px solid #ccc;

    position: absolute;
    top: 50%;
    right: 20px;
    z-index: 1;

    transform: translateY(-50%) rotate(135deg);
}

.accordion__suptitle {
    font-size: 14px;
    color: gray;
}

.accordion__title {
    font-size: 24px;
    color: #000;
    margin-bottom: 10px;
}

.accordion__content {
    padding: 15px 20px;
    display: none;

    font-family: Roboto;
    font-size: 15px;
    color: #999;
    font-style: italic;
    font-weight: 300;
}

.video {
    text-align: center;
    margin-bottom: 20px;
}

.video__item {
    width: 800px;
}

.text {
    max-height: 450px;
    overflow: scroll;
    overflow-x: hidden;
    color: #000;
}